/* ======================
   PÁGINAS DE AUTENTICAÇÃO
   ====================== */
   .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-height: 80vh;
    padding: 2rem 0;
}

.logo-auth {
    height: 80px;
    width: auto;
    object-fit: contain;
    margin-bottom: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}