/* ======================
   ESTILOS DE FORMULÁRIOS
   ====================== */
   .form-floating>label {
    color: var(--color-gray);
    transition: all 0.3s ease;
}

.input-estilo {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--color-white);
    border-radius: 6px;
    padding: 0.75rem;
    width: 100%;
    transition: border-color 0.3s ease;
}

.input-estilo:focus {
    border-color: var(--color-accent);
    outline: none;
}